
body {
		background: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
		font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    text-align: left !important;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}

.fade-in {
  opacity: 0;
  transform: translateY(-20px); 
  transition: opacity 1s, transform 1s;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.image {
    text-align: center;
}

.image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*---------------------------------------
    Typography              
-----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-style: normal; 
  letter-spacing: 0.5px; 
}

h1 {
  font-size: 50px;
  margin-bottom: 14px; 
  line-height: 1.2; 
}

h2 {
  font-size: 32px;
  line-height: 48px; 
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4; 
  margin-bottom: 10px;
  color: black;
}

p {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8; 
  letter-spacing: 0.2px;
  margin: 10px 0; 
  padding: 0;
  word-wrap: break-word;
}

ol, ul {
  font-size: 16px;      
  font-weight: 400;      
  line-height: 1.8;    
  letter-spacing: 0.2px; 
  margin: 10px 0;
  padding-left: 20px;    
}

ol li, ul li {
  margin-bottom: 8px;
}

strong {
  font-weight: 400;
}

a, i, b {
  font-size: 16px;
  line-height: 1.8; 
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none; 
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

/*---------------------------------------
    General               
-----------------------------------------*/
html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: black;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  color: black;
  outline: none;
  text-decoration: none;
  text-decoration-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#about {
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: left !important;
}

.section-title {
  position: relative;
  padding-bottom: 62px;
  text-align: left;
}

.section-title h3 {
  color: #555;
  font-weight: 400;
  letter-spacing: 4px;
}

/*---------------------------------------
    Main Navigation             
-----------------------------------------*/
.navbar-default {
    background: #ffffff;
    padding: 18px 0;
    border: none;
    margin-top: 62px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default .navbar-brand {
  padding-top: 6px;
}

.navbar-default .navbar-brand .fa {
  color: #000;
  font-size: 42px;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #333 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #333;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: #bdc3c7;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

.navbar-default .navbar-header .left-container a {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  background-color: #ffffff;
  color: black;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  padding-bottom: 15px;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 15px;
  position: relative;
}

.navbar-default .navbar-header .left-container a:hover {
  color: #777; 
}

/*---------------------------------------
    Home section              
-----------------------------------------*/
#home {
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

#home hr {
  width: 82px;
  margin-top: 32px;
}

/*---------------------------------------
   About section              
-----------------------------------------*/
#about .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px; 
}

#about .text-center {
  padding-bottom: 42px;
  text-align: left;
}

#about .col-md-8 {
  width: 350px;
  padding-right: 20px;   
}

#about p {
  text-align: left !important; 
}

#about hr {
  width: 100px;
  margin-top: 42px;
  margin-bottom: 42px;
  text-align: left !important;
  line-height: 20px;
  word-wrap: break-word;
}

#about ul {
  padding-left: 22px;
  text-align: left !important;
  line-height: 20px;
  word-wrap: break-word;
  font-size: 16px;
}

#about ul li {
  color: #777;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
}

#about .two-column-container {
  display: flex;             
  justify-content: absolute;
}

#about .two-column-container .column {
  width: 48%;     
  padding: 10px;     
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
    border-top: 1px solid #f0f0f0;
    padding: 100px 0px;
    position: relative;
}

footer a {
  color: #555;
}

footer hr {
  border-color: #ffffff;
  margin-top: 42px;
  margin-bottom: 22px;
}

footer .footer-copyright {
  padding-top: 16px;
  text-align: center;
}

/*---------------------------------------
   Social icon             
-----------------------------------------*/
.social-icon {
    position: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #777;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    vertical-align: center;
    margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
    color: #000;
    transform: scale(1.1);
}

/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/
@media (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 15px;
  }

  .navbar-default {
    margin-top: 0px;
    text-align: center;
  }

  .navbar-default .navbar-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar-default .navbar-toggle {
    font-size: 50px;
    padding: 12px;
    margin-left: auto;
    position: relative;
    z-index: 1000;
    border: none;
  }

  .navbar-default .navbar-header .left-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-grow: 0; 
    margin-right: 10px; 
    margin-left: 10px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #020101; 
    border-color: transparent;
    height: 2px; 
    position: absolute;
    width: 40px;
    right: 0;  
    transition: all 0.3s ease; 
  }

  .navbar-default .navbar-toggle .icon-bar:nth-child(1) {
    top: 0px;
  }

  .navbar-default .navbar-toggle .icon-bar:nth-child(2) {
    top: 7px; 
  }

  .navbar-default .navbar-toggle .icon-bar:nth-child(3) {
    top: 18px; 
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-default .navbar-collapse {
    text-align: center;
    align-items: center;
  }

  .navbar-default .navbar-nav {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-default {
    margin-top: 0px;
  }

  .navbar-default .navbar-nav li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  #about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  #about .col-md-8 {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  #about .section-title {
    text-align: left;
    width: 100%;
  }

  #about .two-column-container {
    flex-direction: column;
  }
  
  #about .two-column-container .column {
    width: 100%; 
    margin-bottom: 10px; 
  }

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    padding-top: 35px;
  }

  .social-icon {
    text-align: center;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
}